<div class="todoItems" ng-controller="TodoItemsCtrl">
    <div class="container body-content">
        <div class="page-header">
            <h1>
                Todo List
            </h1>
        </div>
        <div class="col-md-5">
            <form name="itemForm" class="form-inline" novalidate>
                <div class="form-group">
                    <input type="text" 
                           class="form-control"
                           name="name"
                           ng-model="name"
                           required
                           focus-element />
                </div>
                <input class="btn btn-default" 
                       type="submit" 
                       ng-click="add(name)" 
                       value="Add"
                       ng-disabled="itemForm.$invalid" />
            </form>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="todo in todos">
                        <td class="todo-item">{{todo.Name}}</td>
                        <td><button class="btn btn-xs" ng-click="remove(todo)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>